html {
  height: 100%;
  width: 100%;
  background-color: #af1293;
  background-image: linear-gradient(purple 40%, blue)
}
button {
  border-style: double;
  border-color: black;
  width: 20%;
  margin: auto;
  position:unset
}

h1 {
  color: gold;
  text-shadow: 7px 7px 10px black;
  font-family: 'sans-serif', Helev;
  text-align: center;
}